body{
  background-image: url(images/background.jpg);
  font-family: 'Open Sans', sans-serif;
  padding-top: 70px;
}

.container{
  background-color: white;
  padding: 0px;
}

.row{
  margin: 0px;
}

.top{
  background-image: url(images/macarons.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  position: relative;
}


.top .cake{
  background-color: rgba(135, 89, 166, 0.5);
  width: 200px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 3px 2px grey;
  font-size: 15px;
  border: none;
  padding: 1px 7px;
  text-decoration: none;
  display: inline-block;
  margin-left: -40px;
  margin-top: 20px;
}

.top .cake p{
  margin-left: 70px;
  margin-top: 7px;
}

.top .cake img{
  max-width: 20px;
  margin: 8px 8px -3px 5px;
}

.top .download{
  background-color: rgba(61, 193, 209, 0.5);
  border-radius: 33px;
  padding: 14px 15px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.top .download:hover{
  background-color: rgba(61, 193, 209, 0.8);
}

.top .download img{
  max-width: 24px;
}

.bottom .row .left{
  background-color: #8759A6;
  color: white;
  min-height: 170px;
}

.bottom .row .left .details{
  padding: 80px 59px;
  text-align: center;
}

.bottom .row .left img{
  max-width: 50px;
  margin-bottom: 10px;
}

.bottom .row .middle{
  border-right: 1px solid #C8C8C8;
  margin-top: 47px;
  padding-left: 45px;

}

.bottom .row .middle .ingred-list{
  margin-bottom: 30px;
}

.bottom .row .middle p{
  color: #C8C8C8;
  display: inline;
}


.bottom .row .middle img{
  max-width: 45px;
}

.bottom .row .right{
  text-align: center;
}

.bottom .row .right h3{
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.bottom .row .right p{
  font-size: 15px;
  margin-top: 5px;
}

.bottom .row .right ul{
  padding: 0px;
}

.bottom .row .right ul li{
  text-decoration: none;
  display: inline;
}

.bottom .row .right img{
  max-width: 20px;
}
